@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(17, 24, 39);
}

.vertical-timeline-element-content {
  box-shadow: 0 3px 0 #2563eb;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  color: #9CA3AF;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline-element-content .vertical-timeline-element-date {
    color: #9CA3AF;
  }
}